@import "variables";
@import "fonts";
@import "sprite";
@import "hover";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside, nav, footer, header, section { display: block }

button,
button:active,
button:focus {
    outline: none;
}



.header{
  background: url('../img/main.jpg') no-repeat center center;
  width: 100%;
  &__content{
    margin: $center;
    .header__menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      .logo{
        font-family: $MonBold;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.8px;
        text-decoration: none;
        color: #fff;
      }
      .header__list{
        display: flex;
        justify-content: flex-end;
        .header__list-item{
          font-family: $MonBold;
          font-weight: bold;
          font-size: 14px;
          box-sizing: border-box;
          text-decoration: none;
          color: #fff;
          width: 90px;
          height: 36px;
          border-radius: 20px;
          line-height: 36px;
          text-align: center;
          &:hover{
            border: 2px solid #fff;
            line-height: 32px;
          }
        }
      }
    }
    .textBox{
      margin: $center;
      text-align: center;
      &__title{
        font-family: $MonBold;
        color: #fff;
        letter-spacing: 1.4px;
      }
      &__text{
        font-family: $Roboto;
        color: #fff;
      }
      &__button{
        display: block;
        font-family: $MonBold;
        font-weight: bold;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
        border-radius: 20px;
        background: $red;
        margin: $center;
      }
      .hvr-ripple-out:before {
          border: $red solid 6px;
          border-radius: 20px;
      }
    } //end textBox
  } //end content
} //end header


.works{
  .content{
    .title{
      font-family: $MonBold;
      text-align: center;
      font-size: 22px;
    }
    .carousel-box{
      display: flex;
      justify-content: space-between;
      .carousel-1,
      .carousel-2,
      .carousel-3{
        width: 300px;
        height: 400px;
        .slider__box{
          height: 400px;
          width: 300px;
          border-radius: 4px;
          overflow: hidden;
          float: left;
          position: relative;
          z-index: 1;
          .slider__list{
            width: 10000px;
            padding: 0;
            position: relative;
            .slider__elem{
              display: block;
              margin-right: 20px;
              float: left;
              list-style: none;
              height: 400px;
              .slider__img{
                position: relative;
                z-index: 1;
              }
            } //slider__elem
          } //slider__list
          .slider__box-gradient{
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000 35%, transparent 100%);
            opacity: 0.5;
            z-index: 2;
          }
          .slider__content-box{
            position: absolute;
            width: 297px;
            height: 400px;
            z-index: 3;
            .slider__arrow-box{
              display: flex;
              justify-content: space-between;
              .slider__arrow-left{@include sprite($arrow-l); &:hover{cursor: pointer}}
              .slider__arrow-right{@include sprite($arrow-r); &:hover{cursor: pointer}}
            }
            .slider__info-box{
              .slider__info-button{
                display: block;
                width: 70px;
                height: 20px;
                line-height: 20px;
                font-family: $MonBold;
                font-weight: 300;
                font-size: 10px;
                background: $red;
                border-radius: 10px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                letter-spacing: 2px;
                padding-left: 5px;
              }
              .slider__info-title{
                font-family: $MonBold;
                color: #fff;
              }
              .slider__info-text{
                font-family: $Roboto;
                color: #ccc;
              }
            } //slider__info-box
          } //slider__content-box
        } //slider__box
      } //carousel
    } //carousel-box
  } //content
} //works

.partners{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }
  .blockPartners{
    display: flex;
    .box-1, .box-2, .box-3, .box-4{
      width: 220px;
      height: 225px;
      .box__img{
        position: relative;
        margin: $center;
        width: 122px;
        height: 122px;
        border-radius: 61px;
        .box__img__icon{
          position: absolute;
          top: 86px;
          left: 85px;
        }
      }
      .box__name{
        font-family: $MonBold;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        margin-top: 17px;
      }
      .box__comment{
        font-family: $Roboto;
        font-weight: normal;
        font-size: 14px;
        color: #666;
        margin-top: 12px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.1px;
      }
    }
    .box-1{
      .box__img{
        background: url('../img/partner1.png');
        .box__img__icon{@include sprite($p-icon1);}
      }
    }
    .box-2{
      .box__img{
        background: url('../img/partner2.png');
        .box__img__icon{@include sprite($p-icon2);}
      }
    }
    .box-3{
      .box__img{
        background: url('../img/partner3.png') -3px 0px;
        .box__img__icon{@include sprite($p-icon3);}
      }
    }
    .box-4{
      .box__img{
        background: url('../img/partner4.png') -2px 0px;
        .box__img__icon{@include sprite($p-icon4);}
      }
    }
  }
  button{
    width: 192px;
    height: 40px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: 2px solid $red;
    border-radius: 20px;
    font-family: $MonBold;
    font-weight: bold;
    font-size: 14px;
    color: $red;
  }
  /* Bounce In */
}
.hvr-bounce-in {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.masonry{
  height: 1140px;
  margin: $center;
  position: relative;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    text-align: center;
  }
  .grid {
    margin-top: 34px;
    &:after {
    content: '';
    display: block;
    clear: both;
    }
    .grid-item,
    .grid-sizer {
      width: 32%;
    }
    .grid-item{
    position: relative;
    float: left;
    height: 309px;
    border-radius: 5px;
    background: #fff;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    // img{
    //     position: absolute;
    //       height: 100%;
    //     left: -20%;
    // }
    .grid-item__title{
        // position: absolute;
        // width: 100%;
        // top: 0%;
        // left: 15%;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-family: $MonBold;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 312px;
        text-decoration: none;
        &:hover{
          color: #ccc;
          background: rgba(200, 200, 200, 0.4);
        }
        .grid-item__title-author{
          font-family: $Roboto;
          font-style: italic;
          font-size: 20px;
          color: #bbb;
        }
      }
    }
    .gutter-sizer { width: 2%; }
    .grid-item--width2 { width: 66% }
  }  //end grid
  .modal{
    position: absolute;
    top: 43%;
    left: 37%;
    margin: -75px 0 0 -225px;
    padding: 10px;
    background-color: #333;
    color: #ccc;
    font-size: 20px;
    text-align: center;
  }
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 100, 100, .5);
  }
}  // end masonry

.search{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }
  h4{
    font-family: $Roboto;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
  .form{
    display: flex;
    justify-content: space-between;
    &__input{
      width: 240px;
      height: 40px;
      padding: 10px 14px;
      letter-spacing: 0.3px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #000;
    }
    &__button{
      margin-right: 3px;
      width: 160px;
      height: 40px;
      border: none;
      border-radius: 20px;
      background: $red;
      color: #fff;
      font-family: $MonBold;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
    }
    .hvr-ripple-out:before {
        border: $red solid 6px;
        border-radius: 20px;
    }
  }
}

.redline{
  height: 5px;
  background: $red;
}

footer{
  margin: $center;
  .logo--footer{
    float: left;
    font-family: $MonBold;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.4px;
    width: 220px;
    color: $red;
    text-decoration: none;
  }
  .company, .partners{
    float: left;
    width: 140px;
    margin-bottom: 35px;
    &__title{
      font-family: $MonBold;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 11px;
    }
    &__link{
      display: block;
      margin-top: 5px;
      text-decoration: none;
      color: #666;
      font-family: $Roboto;
      font-weight: normal;
      font-size: 14px;
      &:hover{color: #bbb;}
    }
  }
  .designer{
    float: right;
    text-decoration: none;
    &__text{
      font-family: $MonBold;
      font-weight: bold;
      font-size: 10px;
      color: #ccc;
      float: right;
      letter-spacing: 0.9px;
    }
    &__icon{margin-top: 9px;}
  }
}




@media screen and (max-width: 1900px){
    .header{
      height: 700px;
      &__content{
        width: 940px;
        .header__menu{
          padding-top: 38px;
          .logo{
            padding-top: 4px;
          }
          .header__list{
            .header__list-item{
              margin-right: 1px;
              &:first-child{
                margin-right: -3px;
              }
            }
          }
        }
        .textBox{
          width: 505px;
          margin-top: 141px;
          &__title{
            font-size: 50px;
            line-height: 62px;
          }
          &__text{
            font-size: 24px;
            margin-top: 22px;
          }
          &__button{
            width: 225px;
            margin-top: 34px;
          }
        } //end textBox
      } //end content
    } //end header

    .works{
      .content{
        width: 940px;
        margin: $center;
        .title{
          margin-top: 94px;
          margin-left: -5px;
        }
        .carousel-box{
          margin-top: 34px;
          .carousel-1,
          .carousel-2,
          .carousel-3{
            .slider__box{
              .slider__list{
                width: 10000px;
                padding: 0;
                position: relative;
                .slider__elem{
                  display: block;
                  margin-right: 20px;
                  float: left;
                  list-style: none;
                  height: 400px;
                  .slider__img{
                    height: 100%;
                    // height: 110%;
                    // width: 137%;
                    // margin-left: -164px;
                    // margin-top: -15px;
                    position: relative;
                    z-index: 1;
                    &:first-child{margin-left: -148px;}
                  }
                } //slider__elem
              } //slider__list
              .slider__content-box{
                width: 300px;
                padding: 19px;
                padding-top: 153px;
                .slider__arrow-box{
                  margin-left: 2px;
                  .slider__arrow-right{
                    margin-right: 3px;
                  }
                }
                .slider__info-box{
                  height: 163px;
                  .slider__info-title{
                    margin-top: -2px;
                    font-size: 24px;
                    padding-top: 17px;
                  }
                  .slider__info-text{
                    font-size: 14px;
                    line-height: 17px;
                  }
                } //slider__info-box
              } //slider__content-box
            } //slider__box
          } //carousel-1 carousel-2 carousel-3
          .carousel-1, .carousel-3{
            .slider__content-box{
              .slider__info-box{
                margin-left: -1px;
                margin-top: 21px;
                .slider__info-button{margin-left: 1px}
                .slider__info-text{
                  padding-top: 11px;
                  margin-left: 1px;
                }
              }
            }
          }
          .carousel-2{
            .slider__content-box{
              .slider__info-box{
                margin-top: -1px;
                margin-left: 1px;
                .slider__info-button{
                  margin-top: 52px;
                  margin-left: -1px;
                }
                .slider__info-title{
                  margin-top: -3px;
                  margin-left: -2px;
                }
                .slider__info-text{
                  padding-top: 12px;
                  margin-top: -2px;
                  margin-left: -2px;
                  letter-spacing: 0.1px;
                }
              }
            }
          } //carousel-2
          // .carousel-1{
          //   .slider__list{
          //     .slider__elem{
          //       .slider__img{
          //         margin-left: -184px;
          //         margin-top: -19px;
          //         height: 110%;
          //         width: 137%;
          //       }
          //     }
          //   }
          // }
          // .carousel-2{
          //   .slider__list{
          //     .slider__elem{
          //       .slider__img{
          //         margin-left: -164px;
          //         margin-top: -15px;
          //         height: 110%;
          //         width: 134%;
          //       }
          //     }
          //   }
          // }
          // .carousel-3{
          //   .slider__list{
          //     .slider__elem{
          //       .slider__img{
          //         margin-left: -176px;
          //         margin-top: -25px;
          //         height: 110%;
          //         width: 137%;
          //       }
          //     }
          //   }
          // }
        } //carousel-box
      } //content
    } //works

    .partners{
      width: 940px;
      h1{
        margin-top: 95px;
        margin-left: -5px;
      }
      .blockPartners{
        height: 270px;
        margin-top: 31px;
        .box-1, .box-2, .box-3, .box-4{
          &:not(:first-child){margin-left: 20px;};
        }
      }
      button{
        margin: 3px auto;
      }
    }

    .masonry{
      width: 940px;
      h1{
        padding-top: 94px;
        margin-left: -5px;
      }
    }

    .search{
      width: 413px;
      height: 160px;
      margin-top: 79px;
      h1{
        margin-left: -4px;
      }
      h4{
        margin-top: 30px;
        margin-left: -4px;
      }
      .form{
        margin-top: 37px;
      }
    }

    .redline{margin-top: 98px;}

    footer{
      padding-top: 35px;
      width: 940px;
      .company, .partners{
        margin-left: 19px;
      }
      .designer{
        width: 110px;
        &__text{margin-top: 1px;}
        &__icon{margin-top: 7px;}
      }
    }
}











@media screen and (max-width: 960px){
    .header{
      margin-left: 7px;
      &__content{
        width: 675px;
        .header__menu{
          .logo{
            padding-left: 4px;
          }
        }
        .textBox{
          &__title{
            line-height: 63px;
            margin-top: -1px;
          }
          &__button{
            margin-top: 32px;
          }
        } //end textBox
      } //end content
    } //end header

    .works{
      margin-left: 9px;
      .content{
        width: 748px;
        .title{
          margin-left: 10px;
        }
        .carousel-box{
          .carousel-1,
          .carousel-2,
          .carousel-3{
            width: 236px;
            .slider__box{
              width: 236px;
              .slider__list{
                .slider__elem{
                  .slider__img{
                    &:first-child{margin-left: -188px;}
                  }
                } //slider__elem
              } //slider__list
              .slider__content-box{
                padding: 20px;
                width: 236px;
                padding-top: 39px;
              }
            } //slider__box
          } //carousel-1 carousel-2 carousel-3
          .carousel-1, .carousel-2{margin-right: 20px}
          .carousel-1, .carousel-3{
            .slider__content-box{
              .slider__info-box{
                margin-top: 117px;
                .slider__info-text{
                  width: 200px;
                  letter-spacing: -0.1px;
                }
              }
            }
          }
          .carousel-2{
            .slider__content-box{
              .slider__arrow-box{
                width: 194px;
                margin-left: -9px;
              }
              .slider__info-box{
                width: 195px;
                margin-top: 165px;
              }
            }
          } //carousel-2
        } //carousel-box
      } //content
    } //works

    .partners{
      width: 490px;
      padding-left: 7px;
      h1{
        margin-top: 96px;
        margin-left: 4px;
      }
      .blockPartners{
        height: 528px;
        justify-content: space-between;
        width: 484px;
        padding-left: 8px;
        flex-flow: row wrap;
        .box-1, .box-2, .box-3, .box-4{
          &:not(:first-child){margin-left: 0px;};
          .box__img{
            width: 120px;
            height: 121px;
          }
        }
        .box-3, .box-4{
          margin-top: -12px;
          .box__name{
            margin-top: 18px;
          }
          .box__comment{
            margin-top: 12px;
          }
        }
      }
      button{
        margin: 3px 150px;
      }
    }

    .masonry{
      width: 100%;
      padding: 0 3px;
      margin-left: 7px;
      h1{
        padding-top: 93px;
        margin-left: 1px;
      }
      .grid{
        .grid-item{
          margin-bottom: 6px;
        }
      }
    }

    .search{
      width: 416px;
      margin-top: 78px;
      h1{margin-left: 13px}
      h4{
        margin-top: 29px;
        margin-left: 15px;}
      .form{
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
        padding-left: 11px;
        &__input{
          padding: 10px 13px;
          letter-spacing: 0.4px;
        }
        &__button{margin-right: -4px}
      }
    }

    .redline{margin-top: 97px;}

    footer{
      padding-top: 35px;
      width: 690px;
      .logo--footer{
        margin-left: 9px;
      }
      .company{
        margin-left: 6px;
      }
      .partners{
        margin-top: 0px;
        margin-left: 24px;
      }
      .designer{
        margin-right: -7px;
      }
    }
}







@media screen and (max-width: 768px){
    .header{
      height: 540px;
      background-size: cover;
      background-position: center center;
      &__content{
        width: 320px;
        .header__menu{
          padding-top: 20px;
          flex-flow: wrap;
          flex-direction: column-reverse;
          height: 195px;
          .logo{margin-left: -20px}
          .header__list{
            justify-content: center;
            margin-left: -14px;
            .header__list-item{
              margin-right: -4px;
              &:last-child{
                margin-right: 26px;
              }
            }
          }
        }
        .textBox{
          margin-top: 29px;
          width: 310px;
          &__title{
            font-size: 28px;
            line-height: 36px;
            margin-left: -13px;
            margin-top: -2px;
          }
          &__text{
            font-size: 18px;
            padding-top: 9px;
            line-height: 22px;
            width: 228px;
            margin: $center;
            margin-left: 33px;
          }
          &__button{
            width: 280px;
            margin-top: 15px;
            margin-left: 7px;
          }
        } //end textBox
      } //end content
    } //end header

    .works{
        margin-left: 10px;
        margin-top: 34px;
      .content{
        width: 300px;
        margin: $center;
        .title{
          margin-top: 24px;
          margin-left: -2px;
        }
        .carousel-box{
          margin-top: 14px;
          flex-direction: column;
          .carousel-1,
          .carousel-2,
          .carousel-3{
            height: 240px;
            margin-bottom: 10px;
            .slider__box{
              height: 240px;
              width: 300px;
              .slider__list{
                width: 300px;
                .slider__elem{
                  display: block;
                  margin-right: 0px;
                  float: none;
                  list-style: none;
                  height: 240px;
                  &:nth-child(2),
                  &:last-child{display: none;}
                  .slider__img{
                    position: relative;
                    height: 110%;
                    z-index: 1;
                    &:first-child{margin-left: -66px; margin-top: 0px;}
                  }
                } //slider__elem
              } //slider__list
              .slider__box-gradient{top: 0;}
              .slider__content-box{
                height: 240px;
                top: -87px;
                .slider__arrow-box{display: none;}
                .slider__info-box{
                  height: 163px;
                  .slider__info-button{
                    margin-left: 1px;
                  }
                  .slider__info-title{
                    margin-top: -2px;
                    font-size: 24px;
                    padding-top: 17px;
                  }
                  .slider__info-text{
                    width: 265px;
                    font-size: 14px;
                    padding-top: 11px;
                    line-height: 17px;
                  }
                } //slider__info-box
              } //slider__content-box
            } //slider__box
          } //carousel-1 carousel-2 carousel-3
          .carousel-1, .carousel-3{
            .slider__list{
              .slider__elem{
                .slider__img{
                  width: 138%;
                  height: 110%;
                  top: -24px;
                }
              }
            }
            .slider__content-box{padding: 69px 19px; }
          }
          .carousel-3{
            .slider__list{
              .slider__elem{
                .slider__img{
                  margin-top: -26px;
                  margin-left: -58px;
                  top: -17px;
                  left: 7px;
                }
              }
            }
          }
          .carousel-2{
            .slider__list{
              .slider__elem{
                .slider__img{
                  width: 135%;
                  height: 110%;
                  top: -17px;
                  left: 34px;
                  margin-left: 0;
                  margin-top: 0;
                }
              }
            }
            .slider__content-box{
              padding: 99px 19px;
              margin-top: -18px;
              .slider__info-box{
                width: 261px;
                .slider__info-button{
                  padding-left: 2px;
                  padding-top: 1px;
                }
                .slider__info-title{
                  margin-top: -3px;
                }
                .slider__info-text{
                  margin-top: -1px;
                  letter-spacing: 0.1px;
                }
              }
            }
          } //carousel-2
        } //carousel-box
      } //content
    } //works

    .partners{
      width: 320px;
      margin: 0 auto;
      padding-left: 0;
      h1{
        margin: 0 auto;
        margin-top: 24px;
        margin-left: 12px;
        width: 290px;
      }
      .blockPartners{
        height: 944px;
        width: 268px;
        margin: $center;
        margin-top: 13px;
        flex-direction: column;
        justify-content: space-between;
        .box-1, .box-2, .box-3, .box-4{
          margin-left: 20px;
          .box__name,
          .box__comment{margin-left: -2px}
        }
        .box-1:not(:first-child), .box-2:not(:first-child), .box-3:not(:first-child), .box-4:not(:first-child){
          margin-left: 20px;
        }
        .box-4{
          .box__name{margin-left: -5px}
          .box__comment{margin-left: -7px}
        }
      }
      button{
        margin: 5px auto;
        margin-left: 18px;
        width: 280px;
      }
    }

    .masonry{
      width: 315px;
      height: 1000px;
      margin-left: 0;
      margin: 0 auto;
      h1{
        padding-top: 28px;
        margin-left: 6px;
      }
      .grid{
        margin: $center;
        margin-top: 14px;
        margin-left: 10px;
        .grid-item,
        .grid-sizer {
          width: 100%;
        }
        .grid-item{
          height: 120px;
          margin-bottom: 4px;
          .grid-item__title{line-height: 120px}
        }
        .image5, .image6{width: 100%;}
        .gutter-sizer { width: 2%; }
      }
    }



    .search{
      width: 300px;
      height: 200px;
      margin: $center;
      margin-top: 31px;
      h1{
        margin-left: 13px;
      }
      h4{
        margin-top: 8px;
        margin-left: 13px;
      }
      .form{
        flex-direction: column;
        height: 90px;
        margin-top: 15px;
        margin-left: -11px;
        &__input{
          width: 280px;
          margin-left: 16px;
          padding: 10px 15px;
        }
        &__button{
          margin-left: 16px;
          width: 280px;
        }
      }
    }

    .redline{margin-top: 31px;}

    footer{
      padding-top: 15px;
      width: 218px;
      .logo--footer{
        text-align: center;
        margin-left: 6px;
      }
      .company, .partners{
        width: 220px;
        margin: 30px 6px;
        display: block;
        float: none;
        &__title{
          text-align: center;
          margin-bottom: -4px;
        }
        &__link{
          display: inline-block;
          margin-left: 10px;
          &:nth-child(2){margin-left: 13px;}
        }
      }
      .partners{
        margin-top: -18px;
        margin-bottom: 16px;
        padding-left: 0;
      }
      .designer{
        margin: $center;
        display: block;
        float: none;
        width: 120px;
        padding-left: 12px;
        &__text{
          text-align: center;
          float: none;
          padding-top: 1px;
          padding-left: 3px;
        }
        &__icon{margin-top: 7px;}
      }
    }
}
