@import "variables";
@import "../img/sprite";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf") format('ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format('ttf');
}

.header{
  background: url('../img/main.jpg') center center;
  width: 100%;
  &__content{
    margin: $center;
    .header__menu{
      color: #fff;
      .logo{
        font-family: $MonBold;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-decoration: none;
        color: #fff;
      }
      .header__list{
        display: flex;
        justify-content: flex-end;
        .header__list__item{
          font-family: $MonBold;
          font-weight: bold;
          box-sizing: border-box;
          text-decoration: none;
          color: #fff;
          width: 90px;
          height: 36px;
          border-radius: 20px;
          line-height: 36px;
          text-align: center;
          &:hover{
            border: 2px solid #fff;
          }
        }
      }
    }
    .textBox{
      margin: $center;
      text-align: center;
      &__title{
        font-family: $MonBold;
        color: #fff;
      }
      &__text{
        font-family: 'Roboto-Light', sans-serif;
        color: #fff;
      }
      &__button{
        display: block;
        font-family: $MonBold;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        width: 300px;
        height: 100px;
        border-radius: 20px;
        background: #ff4e50;
        margin: $center;
      }
    } //end textBox
  } //end content
} //end header

.howItWorks{
  .content{
    .title{
      font-family: $MonBold;
      text-align: center;
      letter-spacing: 0.6px;
    }
    .steps{
      .step-1, .step-2, .step-3 {
        background: url('../img/howItWorks_img1.png');
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          background: linear-gradient(to top, #000 35%, transparent 70%);
          width: 100%;
          height: 100%;
          top: 0;
          opacity: 0.5;
          z-index: 2;
        }
        .step__content{
          position: absolute;
          z-index: 3;
          .step__arrows{
            display: flex;
            justify-content: space-between;
            .step__arrows__left{@include sprite($arrow-l);}
            .step__arrows__right{@include sprite($arrow-r);}
          }
          .step__info{
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            .step__info__button{
              display: block;
              font-family: 'Montserrat-Regular', sans-serif;
              background: #ff4e50;
              text-decoration: none;
              color: #fff;
              text-align: center;
              letter-spacing: 0.7px;
            }
            .step__info__title{
              font-family: $MonBold;
              color: #fff;
              letter-spacing: 1.1px;
            }
            .step__info__text{
              font-family: 'Roboto-Light', sans-serif;
              color: #ccc;
              letter-spacing: -0.2px;
            }
          }
        }
      } // end .step-1, .step-2, .step-3
      .step-2{
        background: url('../img/howItWorks_img2.png');
        background-position: center center;
        background-size: cover;
      }
      .step-3{
        background: url('../img/howItWorks_img3.png');
        background-position: center center;
        background-size: cover;
      }
    } //end steps
  } //end content
} // end howItWorks

.partners{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    text-align: center;
  }
  .blockPartners{
    .box-1, .box-2, .box-3, .box-4{
      width: 220px;
      height: 225px;
      .box__img{
        position: relative;
        margin: $center;
        width: 122px;
        height: 122px;
        border-radius: 61px;
        .box__img__icon{
          position: absolute;
          top: 86px;
          left: 85px;
        }
      }
      .box__name{
        font-family: $MonBold;
        font-weight: bold;
        text-align: center;
        margin-top: 18px;
        letter-spacing: 0.3px;
      }
      .box__comment{
        font-family: 'Roboto-Light', sans-serif;;
        font-weight: normal;
        color: #666;
        margin-top: 14px;
        text-align: center;
        letter-spacing: -0.3px;
      }
    }
    .box-1{
      .box__img{
        background: url('../img/partner1.png');
        .box__img__icon{@include sprite($p-icon1);}
      }
    }
    .box-2{
      .box__img{
        background: url('../img/partner2.png');
        .box__img__icon{@include sprite($p-icon2);}
      }
    }
    .box-3{
      .box__img{
        background: url('../img/partner3.png') -3px 0px;
        .box__img__icon{@include sprite($p-icon3);}
      }
    }
    .box-4{
      .box__img{
        background: url('../img/partner4.png') -2px 0px;
        .box__img__icon{@include sprite($p-icon4);}
      }
    }
  }
  button{
    width: 192px;
    height: 40px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    font-family: $MonBold;
    font-weight: bold;
    color: #ff4e50;
    letter-spacing: 0.4px;
  }
}

.masonry{
  height: 1140px;
  background: #eee;
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    text-align: center;
    letter-spacing: 0.6px;
  }
  .grid {
    margin-top: 34px;
    background: #DDD;
    max-width: 940px;
    &:after {
    content: '';
    display: block;
    clear: both;
    }
    .grid-item {
    float: left;
    width: 32%;
    height: 312px;
    border-radius: 4px;
    background: #fff;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    overflow: hidden;
      .grid-item__title{
        background: rgba(200, 200, 200, 0.4);
        margin: 0 auto;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 312px;
        .grid-item__title-author{
          font-style: italic;
          font-size: 20px;
          color: #bbb;
        }
      }
    }
    .gutter-sizer { width: 2%; }
    .grid-item--width2 { width: 66% }
  }  //end grid
}  // end masonry

.search{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.6px;
  }
  h4{
    font-family: "Roboto-Light", sans-serif;
    font-weight: 200;
    text-align: center;
  }
  .form{
    &__input{
      width: 240px;
      height: 40px;
      padding: 10px 14px;
      letter-spacing: 0.3px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #ccc;
    }
    &__button{
      margin-right: 3px;
      width: 160px;
      border: none;
      border-radius: 20px;
      background: #ff4e50;
      color: #fff;
      font-family: $MonBold;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.4px;
      cursor: pointer;
    }
  }
}

.redline{
  height: 5px;
  background: #ff4e50;
}

footer{
  margin: $center;
  .logo--footer{
    float: left;
    font-family: $MonBold;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ff4e50;
    text-decoration: none;
  }
  .company, .partners{
    float: left;
    width: 140px;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
    &__title{
      font-family: $MonBold;
      font-weight: bold;
      margin-bottom: 14px;
    }
    &__link{
      display: block;
      margin-top: 8px;
      letter-spacing: -0.2px;
      text-decoration: none;
      color: #666;
      font-family: 'Roboto-Light', sans-serif;;
      font-weight: normal;
      font-size: 14px;
      &:hover{color: #bbb;}
    }
  }
  .designer{
    float: right;
    &__text{
      font-family: $MonBold;
      font-weight: bold;
      font-size: 10px;
      color: #ccc;
      float: right;
      letter-spacing: 0.9px;
    }
    &__icon{margin-top: 9px;}
  }
}
