@import "variables";
@import "fonts";
@import "../img/sprite";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background: url('../img/main.jpg') no-repeat center center;
  width: 100%;
  &__content{
    margin: $center;
    .header__menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      .logo{
        font-family: $MonBold;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.8px;
        text-decoration: none;
        color: #fff;
      }
      .header__list{
        display: flex;
        justify-content: flex-end;
        .header__list-item{
          font-family: $MonBold;
          font-weight: bold;
          font-size: 14px;
          box-sizing: border-box;
          text-decoration: none;
          color: #fff;
          width: 90px;
          height: 36px;
          border-radius: 20px;
          line-height: 36px;
          text-align: center;
          &:hover{
            border: 2px solid #fff;
          }
        }
      }
    }
    .textBox{
      margin: $center;
      text-align: center;
      &__title{
        font-family: $MonBold;
        color: #fff;
        letter-spacing: 1.4px;
      }
      &__text{
        font-family: $Roboto;
        color: #fff;
      }
      &__button{
        display: block;
        font-family: $MonBold;
        font-weight: bold;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
        border-radius: 20px;
        background: $red;
        margin: $center;
      }
    } //end textBox
  } //end content
} //end header

.works{
  .content{
    .title{
      font-family: $MonBold;
      text-align: center;
      font-size: 22px;
    }
    .carousel-box{
      display: flex;
      justify-content: space-between;
      .carousel-1,
      .carousel-2,
      .carousel-3{
        width: 300px;
        height: 400px;
        .slider__box{
          height: 400px;
          width: 300px;
          border-radius: 4px;
          overflow: hidden;
          float: left;
          position: relative;
          z-index: 1;
          .slider__list{
            width: 10000px;
            padding: 0;
            position: relative;
            .slider__elem{
              display: block;
              margin-right: 20px;
              float: left;
              list-style: none;
              height: 400px;
              .slider__img{
                position: relative;
                z-index: 1;
              }
            } //slider__elem
          } //slider__list
          .slider__box-gradient{
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000 35%, transparent 100%);
            opacity: 0.5;
            z-index: 2;
          }
          .slider__content-box{
            position: absolute;
            width: 297px;
            height: 400px;
            z-index: 3;
            .slider__arrow-box{
              display: flex;
              justify-content: space-between;
              .slider__arrow-left{@include sprite($arrow-l); &:hover{cursor: pointer}}
              .slider__arrow-right{@include sprite($arrow-r); &:hover{cursor: pointer}}
            }
            .slider__info-box{
              .slider__info-button{
                display: block;
                width: 70px;
                height: 20px;
                line-height: 20px;
                font-family: $MonBold;
                font-weight: 300;
                font-size: 10px;
                background: $red;
                border-radius: 10px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                letter-spacing: 2px;
                padding-left: 5px;
              }
              .slider__info-title{
                font-family: $MonBold;
                color: #fff;
              }
              .slider__info-text{
                font-family: $Roboto;
                color: #ccc;
              }
            } //slider__info-box
          } //slider__content-box
        } //slider__box
      } //carousel
    } //carousel-box
  } //content
} //works

.partners{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }
  .blockPartners{
    display: flex;
    .box-1, .box-2, .box-3, .box-4{
      width: 220px;
      height: 225px;
      .box__img{
        position: relative;
        margin: $center;
        width: 122px;
        height: 122px;
        border-radius: 61px;
        .box__img__icon{
          position: absolute;
          top: 86px;
          left: 85px;
        }
      }
      .box__name{
        font-family: $MonBold;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        margin-top: 17px;
      }
      .box__comment{
        font-family: $Roboto;
        font-weight: normal;
        font-size: 14px;
        color: #666;
        margin-top: 12px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.1px;
      }
    }
    .box-1{
      .box__img{
        background: url('../img/partner1.png');
        .box__img__icon{@include sprite($p-icon1);}
      }
    }
    .box-2{
      .box__img{
        background: url('../img/partner2.png');
        .box__img__icon{@include sprite($p-icon2);}
      }
    }
    .box-3{
      .box__img{
        background: url('../img/partner3.png') -3px 0px;
        .box__img__icon{@include sprite($p-icon3);}
      }
    }
    .box-4{
      .box__img{
        background: url('../img/partner4.png') -2px 0px;
        .box__img__icon{@include sprite($p-icon4);}
      }
    }
  }
  button{
    width: 192px;
    height: 40px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: 2px solid $red;
    border-radius: 20px;
    font-family: $MonBold;
    font-weight: bold;
    font-size: 14px;
    color: $red;
  }
}

.masonry{
  height: 1140px;
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    text-align: center;
  }
  .grid {
    margin-top: 34px;
    &:after {
    content: '';
    display: block;
    clear: both;
    }
    .grid-item,
    .grid-sizer {
      width: 32%;
    }
    .grid-item{
    float: left;
    height: 309px;
    border-radius: 5px;
    background: #fff;
    background-position: center;
    background-size: cover;
    overflow: hidden;
      .grid-item__title{
        display: block;
        margin: 0 auto;
        color: #fff;
        font-family: $MonBold;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 312px;
        text-decoration: none;
        &:hover{
          color: #ccc;
          background: rgba(200, 200, 200, 0.4);
        }
        .grid-item__title-author{
          font-family: $Roboto;
          font-style: italic;
          font-size: 20px;
          color: #bbb;
        }
      }
    }
    .gutter-sizer { width: 2%; }
    .grid-item--width2 { width: 66% }
  }  //end grid
}  // end masonry

.search{
  margin: $center;
  h1{
    font-family: $MonBold;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }
  h4{
    font-family: $Roboto;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
  .form{
    display: flex;
    justify-content: space-between;
    &__input{
      width: 240px;
      height: 40px;
      padding: 10px 14px;
      letter-spacing: 0.3px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #000;
    }
    &__button{
      margin-right: 3px;
      width: 160px;
      height: 40px;
      border: none;
      border-radius: 20px;
      background: $red;
      color: #fff;
      font-family: $MonBold;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.redline{
  height: 5px;
  background: $red;
}

footer{
  margin: $center;
  .logo--footer{
    float: left;
    font-family: $MonBold;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.4px;
    width: 220px;
    color: $red;
    text-decoration: none;
  }
  .company, .partners{
    float: left;
    width: 140px;
    margin-bottom: 35px;
    &__title{
      font-family: $MonBold;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 11px;
    }
    &__link{
      display: block;
      margin-top: 5px;
      text-decoration: none;
      color: #666;
      font-family: $Roboto;
      font-weight: normal;
      font-size: 14px;
      &:hover{color: #bbb;}
    }
  }
  .designer{
    float: right;
    text-decoration: none;
    &__text{
      font-family: $MonBold;
      font-weight: bold;
      font-size: 10px;
      color: #ccc;
      float: right;
      letter-spacing: 0.9px;
    }
    &__icon{margin-top: 9px;}
  }
}
