@import "variables";
@import "../img/sprite";


.header{
  height: 700px;
  &__content{
    width: 940px;
    .header__menu{
      padding-top: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        font-size: 20px;
        padding-top: 5px;
      }
      .header__list{
        .header__list__item{
          font-size: 14px;
          margin-right: 1px;
          &:first-child{
            margin-right: -3px;
          }
        }
      }
    }
    .textBox{
      width: 505px;
      margin-top: 143px;
      &__title{
        font-size: 50px;
        line-height: 61px;
      }
      &__text{
        font-size: 24px;
        margin-top: 25px;
        // margin-left: 93px;
      }
      &__button{
        font-size: 14px;
        width: 220px;
        height: 40px;
        line-height: 40px;
        margin-top: 34px;
      }
    } //end textBox
  } //end content
} //end header

.howItWorks{
  .content{
    width: 940px;
    margin: $center;
    .title{
      font-size: 22px;
      margin-top: 95px;
    }
    .steps{
      display: flex;
      justify-content: space-between;
      margin-top: 34px;
      .step-1, .step-2, .step-3 {
        width: 300px;
        height: 400px;
        .step__content{
          padding: 19px;
          padding-top: 153px;
          .step__info{
            height: 175px;
            .step__info__button{
              font-size: 10px;
              width: 70px;
              height: 20px;
              line-height: 20px;
              border-radius: 10px;
            }
            .step__info__title{
              font-size: 24px;
              padding-top: 17px;
            }
            .step__info__text{
              font-size: 14px;
              padding-top: 14px;
            }
          } // end info
        } // end content
      } //end step1, step2, step3
    } //end steps
  } //end content
} // end howItWorks

.partners{
  width: 940px;
  h1{
    font-size: 22px;
    margin-top: 96px;
    letter-spacing: 0.8px;
  }
  .blockPartners{
    height: 270px;
    margin-top: 31px;
    display: flex;
    .box-1, .box-2, .box-3, .box-4{
      &:not(:first-child){margin-left: 20px;};
      .box__name{
        font-size: 14px;
      }
      .box__comment{
        font-size: 14px;
      }
    }
  }
  button{
    font-size: 14px;
    margin: 3px auto;
  }
}

.masonry{
  width: 940px;
  h1{
    padding-top: 94px;
    margin-left: -5px;
  }
}

.search{
  width: 413px;
  height: 160px;
  margin-top: 80px;
  h1{
    font-size: 22px;
    margin-left: -4px;
  }
  h4{
    font-size: 18px;
    margin-top: 33px;
    letter-spacing: -0.2px;
    margin-left: -4px;
  }
  .form{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    &__input{}
    &__button{}
  }
}

.redline{margin-top: 97px;}

footer{
  padding-top: 36px;
  width: 940px;
  .logo--footer{
    font-size: 15px;
    letter-spacing: 1.2px;
    width: 220px;
  }
  .company, .partners{
    margin-left: 19px;
    &__title{font-size: 14px;}
    &__link{}
  }
  .designer{
    width: 110px;
    &__text{}
    &__icon{}
  }
}
