body {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
}

/*CAROUSEL*/
      header {
        background: url('../img/header.jpg');
        height: 395px;
      }
      #container{
      position: absolute;
      top: 150px;
      left: 350px;
      height: 200px;
      width: 620px;
      overflow: hidden;
      }

      #container img{
      position: absolute;
      top: 0px;
      height: 200px;
      width: 200px;
      cursor: pointer;
      overflow: hidden;
      }

      #carouselLeft{
      position: absolute;
      top: 225px;
      left: 290px;
      cursor: pointer;
      }

      #carouselRight{
      position: absolute;
      top: 225px;
      left: 980px;
      cursor: pointer;
      }


/*NFS CAROUSEL*/
.NFS {
    font-family: Arial, sans-serif;
    background: #294555;
    color: white;
    width: 100%;
    height: 420px;
  }
.NFS>ul{margin: 50px auto;}
.jlider {padding-left: 0;}
h2 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
pre {
    max-width: 600px;
    width: 100%;
    max-height: 300px;
    margin: 20px auto;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0;
}
#checkout {
    background: #fff;
    padding: 10px;
    color: #333;
    font-size: 18px;
    width: 260px;
    display: block;
    text-align: center;
    margin: 100px auto;
}

.jlider_frame {
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}



  /*ANIMATION MENU*/
nav {
  background: red;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 40px;
}
nav li {
  list-style-type: none;
  position: relative;
  vertical-align: text-top;
}
nav a:hover {color: black;}
    nav>ul {
      height: 60px;
      width: 1000px;
      margin: 0 auto;
    }
        nav .menu {
          display: inline-block;
          margin-top: 10px;
        }
        nav .menuLink {
          margin: 12px;
          padding: 12px;
        }
        nav .menu .subList {
          display: none;
          background: rgb(225, 225, 75);
          position: absolute;
          top: 40px;
          left: -10px;
          width: 170px;
          padding-left: 0;
          z-index: 2;
        }
        .dropdown {
          background-image: url('../img/down.png');
          background-repeat: no-repeat;
          background-position: 65px 12px;
          background-size: 16px 16px;
        }

        nav .menu .subList .submenu {margin: auto 12px;}
        nav .menu .subList .submenu:not(:last-child),
        nav .menu .subList .subsub:not(:last-child) {border-bottom: 1px solid red;}
        nav .menu .subList .submenu:nth-child(2) {
          background-image: url('../img/right.png');
          background-repeat: no-repeat;
          background-position: 134px 12px;
          background-size: 16px 16px;
        }
        nav .menu .subList a {display: block;}

          nav .menu .subList .submenu {display: block;}
          nav .menu .subsubList {
            display: none;
            position: absolute;
            left: 145px;
            top: 0px;
            width: 170px;
            background: rgb(0, 0, 75);
            padding: 0;
            z-index: 5;
          }
              nav .menu .subList .subsub {
                display: block;
                margin: auto 22px;
              }
          nav .menu .lastList {
              display: none;
          }

    /*CheckBox Xiper.net*/
        form {
        	margin: 20px;
        	background: #99CCFF;
        	padding: 10px;
        }
        .niceCheck {
        	width: 17px;
        	height: 17px;
        	display: inline-block;
        	cursor: pointer;
        	background: url(../img/checkbox.png);
        	overflow: hidden;
        }
        .niceChecked {
        	background-position: 0 -17px;
        }
        .niceCheck input {
        	margin-left: -100px;
        }
        div {
        	margin-bottom: 10px;
        }
        .niceCheckDisabled {
        	background-image: url(../img/checkbox-disabled.png);
          background-position: 0 -17px;
        }

      /*CHECKBOX CSS*/
      .checkboxCss {
        background-color: gray;
        height: auto;
        width: 100%;
        padding: 10px 30px;
      }
      .checkboxCss input[type=checkbox] {
      	position: absolute;
      	clip: rect(0, 0, 0, 0);
      }
      .checkboxCss label {
      	cursor: pointer;
      }
      .checkboxCss label:after {
      	content: " ";
      	display: inline-block;
      	width: 17px;
      	height: 17px;
      	background: url(../img/checkbox-2.png);
      	position: relative;
      	top: 3px;
      	margin-left: 15px;
      }
      .checkboxCss input[type=checkbox]:checked + label:after {
      background-position: 0 -17px;
      }
      .checkboxCss label:hover:after {
      background-position: 0 -34px;
      }
      .checkboxCss input[type=checkbox]:checked + label:hover:after {
      background-position: 0 -51px;
      }


/*SELECTBOX*/
  .select {
    width: 300px;
    height: 180px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
  }
  p {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
  .jquery-selectbox {
    margin-left: 48px;
  }

          #default-usage-select {
            margin: 0 auto;
            text-align: center;
          }

/*ДОПОЛНИТЕЛЬНЫЕ ЭКСПЕРИМЕНТЫ*/
.fon {
  position: relative;
  background: gray;
  height: 500px;
}
.boxfon {
  position: absolute;
  top: 200px;
  left: 300px;
  height: 50px;
  width: 100px;
  background: black;
  text-align:center;
  color: white;
}
.boxfonUI {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 50px;
  width: 100px;
  background: red;
  text-align:center;
}
.red {background: red; left: 300px;}
.blue {background: blue; left: 900px;}

.css {
  position: absolute;
  top: 400px;
  left: 300px;
  width: 100px;
  height: 50px;
  background: yellow;
  color: red;
  text-align: center;
  transition: background-color 3s, left 3s;
}
