<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JS 21-22</title>
    <link rel="stylesheet" href="css.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous">
    </script>
    <script src="dist/shablonizator.js"></script>
    <script src="dist/ES6.js"></script>
  </head>
  <body>
    <article id="content"></article>

    <script type="text/html" id='wrapper'>
        <h2><%= title %></h2>
        <% for (var i=0; i<questions.length; i++) { %>
          <div id="block<%=[i+1]%>">
            <h3 class="question"> №<%=i+1%> <%=questions[i]%> </h3>
            <% for (var j=0; j<answers[i].length; j++) {%>
              <label for="id<%=[i+1]%>_<%=[j+1]%>" class="inputBlock">
                <input type= checkbox class="check" id="id<%=[i+1]%>_<%=[j+1]%>"> <%= variant[j]%>) <%=answers[i][j] %>
              </label>
            <% }; %>
          </div>
        <% }; %>
        <button id= "result">Проверить результаты</button>
    </script>

  </body>
</html>
