body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo{
  text-align: center;
}
#logo img{
  margin-top: 112px;
  height: 92px;
  width: 272px;
}
#logo p{
  color: #4285f4;
  font-size: 16px;
  left: 79px;
  position: relative;
  top: -20px;
  white-space: nowrap;
  width: 0;
  margin: 0 auto;
}
#search{
  text-align: center;
  }
#search input{
  width: 670px;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  border: 1px solid rgb(185,185,185);
  border-radius: 1px;
  border-top-color: rgb(160,160,160);
  cursor: text;
  padding-left: 10px;
}
.searchButton{
  display: block;
  width: 300px;
  height: 30px;
  margin: 20px auto;
  cursor: pointer;
}
.boxForRezult img {
  border: 1px solid gray;
  max-width: 200px;
  max-height: 200px;
}
.boxForRezult ul{
  display: flex;
  padding-left: 10px;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}
h3,h5{margin: 0}
.info{
  max-width: 500px;
  word-wrap: break-word;
  margin: 10px;
  text-align: center;
}
.text{color: red}
