<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DZ 23-24</title>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="js/template.js"></script>
  <script src="js/script.js"></script> -->
  <script data-main="app" src="js/require.js"></script>
</head>

<body>
  <script type="text/template" id="wrapper-template">
    <div class="wrapper">
      <h1>ToDo</h1>
      <ul class="item-list"></ul>
      <div class="controlls">
        <input type="text" class="item-value" placeholder="Write here your TODO">
        <button class="item-add">Add</button>
      </div>
    </div>
  </script>
  <script type="text/template" id="list-template">
    <% for (var i=0; i<data.length; i++) { %>
      <li>
        <input type="checkbox" class="check-list">
        <input type="text" class="edit-list" disabled="disabled"
                value="<%= data[i] %>" title="Check release and remove after">
        <span data-value="<%= data[i] %>" class="item-edit"> edit </span> </li>
        <span data-value="<%= data[i] %>" class="item-delete"> delete </span>
      </li>
    <% }; %>
  </script>
</body>
</html>
