#content{
  width: 700px;
  border: 1px solid #000;
  margin: 20px auto;
  font-family: Arial;
}
h2 {
  text-align: center;
  font-family: Arial;
}
ul {
  padding-left: 0;
}
.question {
  display: block;
  text-align: left;
  margin: 20px auto 15px 60px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}
.inputBlock {
  display: block;
  font-size: 14px;
  margin: 5px auto 0 50px;
  list-style: none;
  font-size: 14px;
}
.check {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  vertical-align: middle;
}
.text {
  margin-left: 5px;

}
#result {
  display: block;
  margin: 40px auto;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-family: Arial;
  width: 250px;
  padding: 15px 30px;
  border: 2px solid #000;
  border-radius: 1px;
  background-color: lightblue;
}
