/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$email-name: 'email';
$email-x: 0px;
$email-y: 0px;
$email-offset-x: 0px;
$email-offset-y: 0px;
$email-width: 16px;
$email-height: 12px;
$email-total-width: 16px;
$email-total-height: 44px;
$email-image: 'footerSprite.png';
$email: (0px, 0px, 0px, 0px, 16px, 12px, 16px, 44px, '../img/footer/footerSprite.png', 'email', );
$location-name: 'location';
$location-x: 0px;
$location-y: 12px;
$location-offset-x: 0px;
$location-offset-y: -12px;
$location-width: 12px;
$location-height: 16px;
$location-total-width: 16px;
$location-total-height: 44px;
$location-image: 'footerSprite.png';
$location: (0px, 12px, 0px, -12px, 12px, 16px, 16px, 44px, '../img/footer/footerSprite.png', 'location', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 28px;
$phone-offset-x: 0px;
$phone-offset-y: -28px;
$phone-width: 10px;
$phone-height: 16px;
$phone-total-width: 16px;
$phone-total-height: 44px;
$phone-image: 'footerSprite.png';
$phone: (0px, 28px, 0px, -28px, 10px, 16px, 16px, 44px, '../img/footer/footerSprite.png', 'phone', );
$spritesheet-width: 16px;
$spritesheet-height: 44px;
$spritesheet-image: 'footerSprite.png';
$spritesheet-sprites: ($email, $location, $phone, );
$spritesheet: (16px, 44px, 'footerSprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
